.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 64px; */
  height: 50px;
  background: white;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  gap: 2px;
  color: #777;

  position: relative;
}


/* animacion del nav pedidos  */

.pedidos-badge{
  position:absolute;

  top:-2px;
  right:8px;

  width:12px;
  height: 12px;

  padding:0 5px;

  border-radius: 100%;

  background:#22c55e;
  /* background:#f5b800; */
  color:white;

  font-size: 8px;
  font-weight:700;

  display:flex;
  align-items:center;
  justify-content:center;

  box-shadow:0 2px 8px rgba(34,197,94,.35);

  animation: badgePop .35s ease, badgeColorCycle 6s linear infinite;
}

@keyframes badgePop{
  0%{
    transform:scale(.4);
    opacity:0;
  }

  80%{
    transform:scale(1.15);
  }

  100%{
    transform:scale(1);
    opacity:1;
  }
}

@keyframes badgePulse{
  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.12);
  }

  100%{
    transform:scale(1);
  }
}

@keyframes badgeColorCycle {
  0% {
    background-color: #2563EB; /* recibido */
    box-shadow: 0 2px 8px rgba(37, 99, 235, .35);
  }

  25% {
    background-color: #F59E0B; /* preparando */
    box-shadow: 0 2px 8px rgba(245, 158, 11, .35);
  }

  50% {
    background-color: #7C3AED; /* en camino */
    box-shadow: 0 2px 8px rgba(124, 58, 237, .35);
  }

  75% {
    background-color: #22C55E; /* entregado */
    box-shadow: 0 2px 8px rgba(34, 197, 94, .35);
  }

  100% {
    background-color: #2563EB;
    box-shadow: 0 2px 8px rgba(37, 99, 235, .35);
  }
}

.pedidos-badge.animar{
  animation:
    badgePop .35s ease,
    badgeColorCycle 6s linear infinite,
    badgePulse 2s ease-in-out infinite;
}

/* ------------- */

.nav-item.active {
  color: #f5b800;
}

.nav-item svg{
  width: 18px;
  height: 18px;

  transition: .3s;
}

.nav-item.active svg{
  transform: scale(1.2);
}